<div class="vstack gap-2">
  <div class="col-11 p-2 mt-2 mx-auto">
    <form id="deleteTripForm">
      <div class="card border-danger">
        <div class="card-header bg-danger text-bg-danger">
          Are you sure you want to delete this trip???
        </div>
        <div class="p-2">
          <label>ID:</label>
          <label id="lblTripID">{{trip.id}}</label>
        </div>
        <div class="p-2">
          <label>Title:</label>
          <label>{{trip.title}}</label>
        </div>
        <div class="p-2">
          <label>Start Address:</label>
          <label>{{trip.source_address}}</label>
        </div>
        <div class="p-2">
          <label>Destination:</label>
          <label>{{trip.destination_address}}</label>
        </div>
        <div class="p-2">
          <label>Electric Vehicle:</label>
          <label>
            {{#with trip.electric_vehicle}}
              {{model_year}}
              {{manufacturer_name}}
              {{model}}
            {{/with}}
          </label>
        </div>
        <div class="p-2 mx-auto">
          <button
            class="btn btn-danger text-bg-danger"
            type="submit"
          >Delete</button>
          <a
            href="/dashboard"
            class="btn btn-secondary text-bg-secondary"
          >Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/deleteTrip.js"></script>